{% extends 'base.html' %}

{% block head %}
    
{% endblock %}


{% block body %}
    <div class="container">
        <h1 class="text-center">To Do List</h1>
        {% if tasks|length == 0 %}
            <h4>There are no tasks, create one below</h4>
        {% else %}
        <table class="table">
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td>
                        <a href="/update/{{task.id}}" class="btn btn-success">Update</a>&nbsp;&nbsp;<a href="/delete/{{task.id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>    
            {% endfor %}
        </table>
        {% endif %}
        <div class="row">
            <form action="/" method="POST">
                <input type="text" name="content" id="content">
                <input type="submit" value="Add Task" class="btn-primary">
            </form>
        </div>
    </div>   

{% endblock %}
